

.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea{font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif!important}
.syntaxhighlighter{background-color:#FFF!important;border:1px solid #e2e2e2}
.syntaxhighlighter .toolbar,.syntaxhighlighter .gutter{background:#f2f2f2!important;color:#333333!important;border:solid #e2e2e2!important;}
.syntaxhighlighter .toolbar{ border-width:0 0 1px 5px!important}
.syntaxhighlighter .gutter{border-width:0 1px 0 5px!important}
.syntaxhighlighter .toolbar div a{color:!important}.syntaxhighlighter .toolbar span{color:#999!important}
.syntaxhighlighter .code .line.alt1{background-color:white!important}
.syntaxhighlighter .code .line.alt2{background-color:white!important}
.syntaxhighlighter .gutter .line.highlighted{color:white!important}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2{background-color:#e0e0e0!important}

